
<div class = "form">
<h1>Welcome to facespace</h1>
<br>
<h4> The Creepiest Social Network </h4>
<br>
<p> Get in the Know </p>
<%= form_tag(newsletter_path, method: "post") do %>
  <%= email_field_tag(:email," ",placeholder: "Email") %><br>
  <%= submit_tag("Say Aye") %>
<% end %>

</div>
