<html>
<head>
  <title> What's Happening New User??????</title>
</head>
<body>
  <h2>FaceSpace</h2>
  <%= link_to(image_tag(image_url("pencil.png")), root_url) %>
  <%= yield %>

  <p>Your friends at the FaceSpace HQ</p>
  </p>
</body>
</html>